.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--rem);
}

.ellipsis {
    max-width: 40%;
}

textarea {
    resize: none;
}

li {
    cursor: pointer;
}

textarea {
    width: 100%;
    min-height: 30vh;
}

.edit-btn {
    width: 100%;
}

