<app-dialog-wrapper #wrapper>
    @let todoHistory = $todoHistory();
    <h2 header>Todo history</h2>

    <div body>
        <ul>
            @for(x of todoHistory; track $index) {
                <li>
                    <dl>
                        <div>
                            <dt>Title</dt>
                            <dd>{{ x.title }}</dd>
                        </div>
                        <div>
                            <dt>Completed</dt>
                            <dd>{{ x.completed }}</dd>
                        </div>
                        <div>
                            <dt>
                                @if($index === 0) {
                                    Created
                                }
                                @else {
                                    Modified
                                }
                            </dt>
                            <dd>
                                <time [dateTime]="x.createdOn">
                                    {{ x.createdOn | date: 'yyyy/MM/dd' }}
                                </time>
                            </dd>
                        </div>
                    </dl>
                </li>
            }
        </ul>
    </div>

    <div footer>
        <button (click)="wrapper.close()">Close</button>
    </div>
    
</app-dialog-wrapper>