@let root = $root();
<section>
    <h2>Filesystem tracker</h2>
    <div class="fs-sections">
        <section>
            <h3>Tracker</h3>
            <hr />
            <app-tracker></app-tracker>
        </section>
        <section class="fs-tree">
            @let searchActive = $searchActive();
            <h3>
                @let header = searchActive ? 'Search Tree' : 'Tree';
                {{ header }}
            </h3>
            <hr />
            @if(root) {
                <app-fs-toolbar></app-fs-toolbar>
                @if(searchActive) {
                    <app-search-result></app-search-result>
                }
                @else {
                    @let items = $items();
                    <ul>
                        @for (item of items.dirs; track $index) {
                            <li>
                                <app-tree [fsItem]="item"></app-tree>
                            </li>
                        }
                        @for (item of items.docs; track $index) {
                            <li>
                                <app-tree [fsItem]="item"></app-tree>
                            </li>
                        }
                    </ul>
                }
            }
        </section>
        <section>
            <h3>File Preview</h3>
            <hr />
            <app-file-preview></app-file-preview>
        </section>
    </div>
</section>
