h2 {
    padding: var(--rem);
}

.fs-sections {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & section {
        padding: 0rem var(--rem);
        flex: 1;
        min-height: 80vh;
        max-height: 80vh;
        overflow-y: auto;
    }

    & .fs-tree {
        flex: 2;
    }
}

@media screen and (max-width: 1200px) {
    .fs-sections {
        flex-flow: column;
        padding: 0rem var(--rem);
        
        & section {
            width: 100%;
            max-height: none;
        }
    }
  }