hgroup {
    margin: var(--rem);
}

.sections {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    padding: 0rem var(--rem);
    
    .diff-section {
        flex: 2;
    }
    
    & section {
        flex: 1;
    }
}


.target-branch {
    padding: var(--rem-xxxs);
    background-color: var(--color2-d1);
}

.reset-merge {
    margin-left: var(--rem);
}

.diffs {
    width: 100%;
}

li {
    padding: 0rem var(--rem-xxxs);
    border-bottom: var(--rem-xxxs) solid var(--color2-d1);

    .commits {
        display: flex;
        justify-content: space-between;
        
        & div:nth-child(even) {
            text-align: right;
        }
    
        & div:nth-child(odd) {
            text-align: left;
        }
    }

    .commit-a-before {
        flex-flow: column;
    }

    .commit-b-before {
        flex-flow: column-reverse;
    }

    .commit-buttons {
        display: flex;
        justify-content: space-between;
        
        & button {
            width: 100%;
        }
    }
}

.disabled {
    pointer-events: none;
    & * {
        color: var(--color2-d1);
    }
    
}

.diff-trees {
    display: flex;
    justify-content: space-between;
    align-items: center;
}