.fs-sections {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & section {
        padding: var(--rem);
        flex: 1;
        min-height: 80vh;
        max-height: 80vh;
        overflow-y: auto;
    }

    & .fs-tree {
        flex: 2;
    }
}