<section>
    <hgroup>
        <h2>Mergerer</h2>
        <a routerLink="/filesystem">back to filesystem</a>
    </hgroup>

    <div class="sections">
        <section >
            <h3>Branches</h3>
            <hr />
            Merge:
            <select #src (change)="setSource(src.value)">
                @for (x of $branches(); track $index) {
                <option [value]="x.id">{{ x.name }}</option>
                }
            </select>
            into
            <span class="target-branch">
                {{ $target()?.name }}
            </span>            
            <button class="reset-merge">Reset merge</button>
        </section>

        <section>
            <h3>Commit differences</h3>
            <hr />
            @if($diffs()?.length === 0) {
                <p>
                    No different commits. Nothing to merge.
                </p>
            }
            @else {
                <ul>
                    @for (x of $diffs(); track $index) {
                    <li [ngClass]="{'disabled': $index !== $resolved()}">
                        <div class="commits" [ngClass]="{
                            'commit-a-before': x.first === 1,
                            'commit-b-before': x.first === 2
                        }">
                            <div>
                                {{ x.aCommit | fsCommit }}
                            </div>
                            <div>
                                {{ x.bCommit | fsCommit }}
                            </div>
                        </div>
                        <div class="commit-buttons">
                            <button (click)="useCommit(x.aCommit)">
                                take left
                            </button>
                            <button (click)="useCommit(x.bCommit)">
                                take right
                            </button>
                            <button>take both</button>
                        </div>
                    </li>
                    }
                </ul>
            }
        </section>

        <section class="diff-section">
            <h3>Trees</h3>
            <hr />
            <div class="diff-trees">
                <!-- <section>
                    <h4>Source</h4>
                    <div>
                        <app-tree [fsItem]=""></app-tree>
                    </div>
                </section>
                <section>
                    <h4>Target</h4>
                    <div>
                        <app-tree [fsItem]=""></app-tree>
                    </div>
                </section> -->
                <section>
                    <h4>Result</h4>
                    <div>
                        <app-tree [fsItem]="$newRoot()"></app-tree>
                    </div>
                </section>
            </div>
        </section>
    </div>
</section>