<section>
    <hgroup>
        <h2>Mergerer</h2>
        <a routerLink="/filesystem">back to filesystem</a>
    </hgroup>

    <div class="sections">
        <section >
            <h3>Branches</h3>
            <hr />
            Merge:
            <select #src (change)="setSource(src.value)">
                @for (x of $branches(); track $index) {
                <option [value]="x.id">{{ x.name }}</option>
                }
            </select>
            into
            <span class="target-branch">
                {{ $target()?.name }}
            </span>            
            <button class="reset-merge">Reset merge</button>
        </section>

        <section>
            <h3>Commit differences</h3>
            <hr />
            @if($diffs()?.length === 0) {
                <p>
                    No different commits. Nothing to merge.
                </p>
            }
            @else {
                <ul>
                    @for (x of $diffs(); track $index) {
                    <li [ngClass]="{
                        'disabled': $index === $resolved(),
                        'commit-a-before': x.first === 1,
                        'commit-b-before': x.first === 2
                    }">
                        <button (click)="useCommit(x.aCommit)">
                            {{ x.aCommit | fsCommit }}
                        </button>
                        <button (click)="useCommit(x.bCommit)">
                            {{ x.bCommit | fsCommit }}
                        </button>
                    </li>
                    }
                </ul>
            }
        </section>

        <section class="diff-section">
            <h3>Trees</h3>
            <hr />
            <div class="diff-trees">
                <!-- <section>
                    <h4>Source</h4>
                    <div>
                        <app-tree [fsItem]=""></app-tree>
                    </div>
                </section>
                <section>
                    <h4>Target</h4>
                    <div>
                        <app-tree [fsItem]=""></app-tree>
                    </div>
                </section>
                <section>
                    <h4>Result</h4>
                    <div>
                        <app-tree [fsItem]=""></app-tree>
                    </div>
                </section> -->
            </div>
        </section>
    </div>
</section>