& section, .new-todo {
    margin: .5rem 1rem;
}

& section {
    border: 1px groove var(--c-black);
    box-shadow: 2px 2px 5px var(--c-black);

    min-height: 30vh;
    max-height: 30vh;

    overflow-y: auto;

    & h2 {
        font-size: 1em;
        padding: .5rem 1rem;
        background-color: var(--c-black);
        color: var(--c-white-d1);
        
        position: sticky;
        top: 0;
    }

    & div {
        padding: 0rem 1rem;
    }
}

.new-todo {
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    min-height: 5vh;
}