div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: var(--rem-xxxs) solid var(--c-black);

    font-size: var(--rem);
    
    & span, input {
        border: none;
        padding: 0rem var(--rem-xs);
        outline: none;
    }
}

input {
    width: 100%;
}