<app-fs-item-create-dialog #createDialog></app-fs-item-create-dialog>
@let selected = $selected();
@let searchActive = $searchActive();

@if(selected) {
    <div>
        @if(searchActive) {
            <input #query (input)="setQuery(query.value)" placeholder="type item name..." type="text" />
        }
        @else {
            <span class="ellipsis">{{ selected.path }}</span>
        }
        <div class="actions">
            <button (click)="selectRoot()" title="root" class="blue">
                <i class="top"></i>
            </button>
            <button (click)="toggleSearch()" title="search toggle" class="blue">
                <i class="search"></i>
            </button>
            <button (click)="openCreateDialog(selected)" title="create" class="green">
                <i class="plus"></i>
            </button>
            <button (click)="delete()" title="delete" class="red">
                <i class="skull"></i>
            </button>
        </div>
    </div>
}