<app-fs-item-rename-dialog #renameDialog></app-fs-item-rename-dialog>
@let preview = $preview();
@let item = $item();

@if(preview && item) {
    <div class="actions">
        <span class="ellipsis">
            @if(preview.previewDoc) {
                <i class="doc"></i>
            }
            @else {
                <i class="dir"></i>
            }
            {{ item.path | fsItemName }}
        </span>
        <span>
            <button (click)="rename()" class="warn">Rename</button>
            <button (click)="delete()" class="error">Delete</button>
        </span>
    </div>
    @if(preview.previewDoc) {
        <div>
            <textarea #docContent [value]="preview.content" (keypress)="onFileContentChange(docContent.value)"></textarea>
        </div>
    }
    @else {
        <ul>
            @for (item of preview.dirsAndDocs.dirs; track $index) {
                <li (click)="setSelected(item)" class="clickable">
                   <i class="dir"></i> {{ item.path | fsItemName }}
                </li>
            }
            @for (item of preview.dirsAndDocs.docs; track $index) {
                <li (click)="setSelected(item)" class="clickable">
                    <i class="doc"></i> {{ item.path | fsItemName }}
                </li>
            }
        </ul>
    }

    @if($canEdit()) {
        <button (click)="saveChanges()" class="edit-btn">Save Changes</button>
    }
}