.actions {
    display: flex;
    justify-content: space-between;
}

textarea {
    resize: none;
}

li {
    cursor: pointer;
}

li:hover {
    background-color: var(--c-green);
}

textarea {
    width: 100%;
    min-height: 30vh;
}

.edit-btn {
    width: 100%;
}

