section {
    display: flex;
    align-items: center;
}

section > div {
    margin: auto;
}

h4, dt, dd {
    margin: 0;
    text-align: center;
}

.actions-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

dl {
    margin: 0;
    padding: 0;
}

.disabled > * {
    pointer-events: none;
    color: var(--c-grey);
}

.no-branch {
    font-style: italic;
}

select {
    width: 100%;
}