<app-info-dialog #infoDialog></app-info-dialog>
<section>
    <div>
        <h1>Pick your poison</h1>
        <hr>
        <nav>
            <ul>
                <li>
                    <button (click)="goto('todo')" class="green">Example todo app</button>
                </li>
                <li>
                    <button (click)="goto('filesystem')" class="green">Example FS app</button>
                </li>
                <li>
                    <button (click)="goto('scratchpad')" class="green">Scratchpad</button>
                </li>
            </ul>
        </nav>
    </div>
</section>
