<app-info-dialog #infoDialog></app-info-dialog>
<section>
    <div>
        <h1>Pick your poison</h1>
        <hr>
        <nav>
            <ul>
                <li>
                    <a routerLink="/todo">Example todo app</a>
                </li>
                <li>
                    <a routerLink="/filesystem">Example FS app</a>
                </li>
                <li>
                    <a routerLink="/scratchpad">Scratchpad</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
