.blue {
    --c1: var(--c-blue);
    --c2: var(--c-white);
    --c3: var(--c-blue-t);
}

.green {
    --c1: var(--c-green);
    --c2: var(--c-white);
    --c3: var(--c-green-t);
}

.orange {
    --c1: var(--c-orange);
    --c2: var(--c-white);
    --c3: var(--c-orange-t);
}

.red {
    --c1: var(--c-red);
    --c2: var(--c-white);
    --c3: var(--c-red-t);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.ellipsis {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}