:root {
    /* colors */
    --blackHue: 0;
    --blueHue: 207;
    --greenHue: 122;
    --orangeHue: 39;
    --redHue: 4;
    --transparency: 0.2;
    --transparency-1: 0.8;
    
    --color1: hsl(var(--blackHue), 0%, 7%);
    --color1-t1: hsla(var(--blackHue), 0%, 7%, var(--transparency));
    --color1-t2: hsla(var(--blackHue), 0%, 7%, var(--transparency-1));
    
    --color2: hsl(var(--blackHue), 0%, 100%);
    --color2-d1: hsl(var(--blackHue), 0%, 90%);
    --color2-d3: hsl(var(--blackHue), 0%, 70%);
    
    --color3: hsl(var(--blackHue), 0%, 40%);
    --color3-d1: hsl(var(--blackHue), 0%, 20%);
    
    --color4: hsl(var(--blueHue), 90%, 54%);
    --color4-t: hsla(var(--blueHue), 90%, 54%, var(--transparency));

    --color5:hsl(var(--greenHue), 39%, 49%);
    --color5-t:hsla(var(--greenHue), 39%, 49%, var(--transparency));
    
    --color5-d1:hsl(var(--greenHue), 39%, 39%);
    
    --color6:hsl(var(--orangeHue), 100%, 50%);
    --color6-t:hsla(var(--orangeHue), 100%, 50%, var(--transparency));
    
    
    --color7: hsl(var(--redHue), 90%, 58%);
    --color7-l2: hsl(var(--redHue), 90%, 78%);
    
    --color7-t: hsla(var(--redHue), 90%, 58%, var(--transparency));
    
    

    /* layout */
    --rem-xxxs: .1rem;
    --rem-xxs: .3rem;
    --rem-xs: .6rem;
    --rem-s: .8rem;
    --rem: 1rem;
    --rem-l: 1.2rem;
    --rem-xl: 1.4rem;

    /* movement */
    --transition: .3s;
}