:root {
    /* colors */
    --blackHue: 0;
    --blueHue: 207;
    --greenHue: var(--greenHue);
    --orangeHue: 39;
    --redHue: 4;
    
    --c-black: hsl(var(--blackHue), 0%, 7%);
    --c-black-l1: hsl(var(--blackHue), 0%, 17%);
    --c-black-l2: hsl(var(--blackHue), 0%, 27%);
    --c-black-t1: hsla(var(--blackHue), 0%, 7%, 90%);
    --c-white: hsl(var(--blackHue), 0%, 100%);
    --c-white-d1: hsl(var(--blackHue), 0%, 90%);
    --c-white-d2: hsl(var(--blackHue), 0%, 80%);
    --c-white-d3: hsl(var(--blackHue), 0%, 70%);
    --c-grey: hsl(var(--blackHue), 0%, 40%);
    --c-grey-d1: hsl(var(--blackHue), 0%, 20%);
    
    --c-blue: hsl(var(--blueHue), 90%, 54%);
    
    --c-blue-t1: hsla(var(--blueHue), 90%, 54%, 0.8);
    --c-blue-t2: hsla(var(--blueHue), 90%, 54%, 0.6);
    
    --c-blue-d1: hsl(var(--blueHue), 90%, 44%);
    --c-blue-d2: hsl(var(--blueHue), 90%, 34%);
    
    --c-green-l1:hsl(var(--greenHue), 39%, 59%);
    
    --c-green:hsl(var(--greenHue), 39%, 49%);
    
    --c-green-t1:hsla(var(--greenHue), 39%, 49%, 0.8);
    --c-green-t2:hsla(var(--greenHue), 39%, 49%, 0.6);
    
    --c-green-d1:hsl(var(--greenHue), 39%, 39%);
    --c-green-d2:hsl(var(--greenHue), 39%, 29%);
    
    --c-orange:hsl(var(--orangeHue), 100%, 50%);
    
    --c-orange-t1:hsl(var(--orangeHue), 100%, 50%, 0.8);
    --c-orange-t2:hsl(var(--orangeHue), 100%, 50%, 0.6);
    
    --c-orange-d1:hsl(var(--orangeHue), 100%, 40%);
    --c-orange-d2:hsl(var(--orangeHue), 100%, 30%);
    
    --c-red: hsl(var(--redHue), 90%, 58%);
    --c-red-d1: hsl(var(--redHue), 90%, 38%);

    /* layout */
    --rem-xxxs: .1rem;
    --rem-xxs: .3rem;
    --rem-xs: .6rem;
    --rem-s: .8rem;
    --rem: 1rem;
    --rem-l: 1.2rem;

    /* movement */
    --transition: .3s;
}