label {
    font-size: var(--rem);
    display: flex;
    & span {
        margin-right: var(--rem);
    }
    & select {
        width: 100%;
    }
}

.action-section > div {
    margin: auto;
}

.actions-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    & button {
        width: 100%;
    }
}

.change-list > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.change-list > li > span {
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-width: 12rem;
    width: 12rem;
}

.change-list > li > button {
    background-color: transparent;
    &:hover {
        background-color: var(--c-black);
    }
}