<app-branch-create-dialog #createDialog></app-branch-create-dialog>
<app-branch-clone-dialog #cloneDialog></app-branch-clone-dialog>
<app-branch-merge-dialog #mergeDialog></app-branch-merge-dialog>

@let branches = $branches();
@let selectedBranch = $selectedBranch();
@let uncommitted = $uncommitted();
<div>
    <section>
        <div>
            <label>
                <span>Branch:</span>
                <select [disabled]="uncommitted.length > 0">
                    @for(b of branches; track $index) {
                        <option [selected]="selectedBranch?.id === b.id" [value]="b.id">{{ b.name }}</option>
                    }    
                </select>
            </label>
        </div>

    </section>
    <section>
        <div>
            <h3>Actions</h3>
            <div class="actions-list">
            @if(uncommitted) {
                <button (click)="createBranch(uncommitted)" class="blue">Create branch</button>
                <button (click)="cloneBranch()" class="green">Clone branch</button>
                <button (click)="merge()" class="orange">Merge</button>
                <button (click)="commit(uncommitted.length)" class="red">Commit</button>
            }
            </div>
        </div>
    </section>
    <section>
        <h3>Changes</h3>
        <details [open]="uncommitted.length > 0">
            <summary>Uncommitted: {{ uncommitted.length }}</summary>
            <ul class="change-list">
                @for (item of uncommitted; track $index) {
                    <li>
                        <span class="ellipsis">
                            {{ item | fsItemEvent }}
                        </span>
                        <button (click)="revertTo($index)">Revert</button>
                    </li>
                }
            </ul>
        </details>
    </section>

</div>