section {
    margin-bottom: var(--rem);
}

label {
    display: flex;
    & select {
        width: 100%;
    }
}

.action-section {
    display: flex;
    align-items: center;
}

.action-section > div {
    margin: auto;
}

h4 {
    text-align: center;
}

.actions-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    & button {
        width: 100%;
    }
}