<app-branch-create-dialog #createDialog></app-branch-create-dialog>

@let branches = branches$ | async;
@let selectedBranch = selectedBranch$ | async;

<div>
    <section>
        <div>
            <label>
                <span>Branch:</span>
                <select>
                    @for(b of branches; track $index) {
                        <option [selected]="selectedBranch?.id === b.id" [value]="b">{{ b.name }}</option>
                    }    
                </select>
            </label>
        </div>

    </section>
    <section class="action-section">
        <div>
            <h4>Actions</h4>
            <div class="actions-list">
            @if(uncommited$ | async; as uncommited) {
                <button (click)="createBranch(uncommited)" class="blue">Create branch</button>
                <button class="green">Clone branch</button>
                <button class="orange">Pull</button>
                <button (click)="commit()" class="red">Commit</button>
            }
            </div>
        </div>
    </section>

</div>