<app-branch-create-dialog #createDialog></app-branch-create-dialog>
<app-branch-clone-dialog #cloneDialog></app-branch-clone-dialog>
<app-branch-merge-dialog #mergeDialog></app-branch-merge-dialog>

@let branches = $branches();
@let selectedBranch = $selectedBranch();
@let uncommitted = $uncommitted();
@let hasChanges = uncommitted.length > 0;
<div>
    <section>
        <div>
            <label>
                <span>Branch:</span>
                <select [disabled]="hasChanges">
                    @for(b of branches; track $index) {
                        <option [selected]="selectedBranch?.id === b.id" [value]="b.id">
                            [{{ b.name }}]&nbsp;
                            @if(hasChanges) {
                                locked due to changes
                            }
                        </option>
                    }    
                </select>
            </label>
        </div>
    </section>
    <section>
        <div>
            <h3>Actions</h3>
            <div class="actions-list">
            @if(branches) {
                <button (click)="createBranch()" class="blue">Create branch</button>
                <button (click)="cloneBranch()" class="green">Clone branch</button>
                <button (click)="merge()" class="orange">Merge</button>
                <button (click)="commit()" class="red">Commit</button>
            }
            </div>
        </div>
    </section>
    <section>
        <h3>Changes</h3>
        <details [open]="hasChanges">
            <summary>Uncommitted: {{ uncommitted.length }}</summary>
            <ul class="change-list">
                @for (item of uncommitted; track $index) {
                    <li>
                        <span class="ellipsis">
                            {{ item | fsItemEvent }}
                        </span>
                        <button (click)="revertTo($index)" class="opaque">Revert</button>
                    </li>
                }
            </ul>
        </details>
    </section>

</div>