@let preview = preview$ | async;
@if(preview) {
    @if(preview.previewDoc) {
        <div>
            <!-- {{ preview.content }} -->
            <textarea [value]="preview.content" (keypress)="log('pressed')" (change)="log('changed')"></textarea>
        </div>
    }
    @else {
        <ul>
            @for (item of preview.dirsAndDocs.dirs; track $index) {
                <li (click)="setSelected(item)">&#9655; {{ item.path | fsItemName }}</li>
            }
            @for (item of preview.dirsAndDocs.docs; track $index) {
                <li (click)="setSelected(item)">{{ item.path | fsItemName }}</li>
            }
        </ul>
    }
}