@let preview = preview$ | async;
@if(preview) {
    @if(preview.previewDoc) {
        <div>
            {{ preview.content }}
        </div>
    }
    @else {
        <ul>
            @for (item of preview.dirsAndDocs.dirs; track $index) {
                <li (click)="setSelected(item)">{{ item.path | fsItemName }}</li>
            }
            @for (item of preview.dirsAndDocs.docs; track $index) {
                <li (click)="setSelected(item)">{{ item.path | fsItemName }}</li>
            }
        </ul>
    }
}