@let preview = preview$ | async;
@if(preview) {
    @if(preview.previewDoc) {
        <div>
            <textarea #docContent [value]="preview.content" (keypress)="onFileContentChange(docContent.value)"></textarea>
        </div>
    }
    @else {
        <ul>
            @for (item of preview.dirsAndDocs.dirs; track $index) {
                <li (click)="setSelected(item)">&#9654; {{ item.path | fsItemName }}</li>
            }
            @for (item of preview.dirsAndDocs.docs; track $index) {
                <li (click)="setSelected(item)">{{ item.path | fsItemName }}</li>
            }
        </ul>
    }

    @if($canEdit()) {
        <button (click)="saveChanges()" class="edit-btn">Save Changes</button>
    }
}