<app-dialog-wrapper #wrapper>
    <h2 header>Merge</h2>

    <div body>
        @let source = $source();
        @let target = $target();
        @let diffs = $diffs();
        @if(source && target) {
            <section class="srctarg">
                <h3>Source</h3>
                <select #src (change)="setSource(src.value)">
                    @for (x of $branches(); track $index) {
                        <option [value]="x.id">{{ x.name }}</option>
                    }
                </select>
                <span>into</span>
                <span>{{ target.name }}</span>
            </section>
        }
        @if(diffs) {
            <section class="diffs">
                <h3>Diffs</h3>
                <ul>
                    @for (x of diffs; track $index) {
                        <li [ngClass]="x.aCommit?.id === x.bCommit?.id ? 'commit-same' : 'commit-diff'">
                            <div>
                                {{ x.aCommit | fsCommit }}
                            </div>
                            <div>
                                {{ x.bCommit | fsCommit }}
                            </div>
                        </li>
                    }
                </ul>
            </section>
        }
    </div>
    
    <div footer>
        <button (click)="close()">Close</button>
    </div>
</app-dialog-wrapper>