section {
    margin-bottom: var(--rem);
    border-color: transparent !important;
}

.srctarg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.srctarg > * {
    margin-right: var(--rem-xs);
}

.diffs {
    width: 100%;
}

.diff-sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
     & section {
        flex: 1;
     }
}