section {
    margin-bottom: var(--rem);
    border-color: transparent !important;
}

.srctarg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.srctarg > * {
    margin-right: var(--rem-xs);
}

.diffs {
    width: 100%;
}

li {
    display: flex;
    justify-content: space-between;
    div:nth-child(even) { 
        text-align: right;
    }
}

li.commit-same {
    flex-flow: row;
    background-color: var(--c-green-l2);
}

li.commit-diff {
    flex-flow: column;
    background-color: var(--c-red-l2);
}