.todo-grid, .add-btn {
    width: 60%;
    margin: 1rem auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

button {
    width: 10vw;
    min-height: 5rem;
    border: 2px solid var(--c-black);
    margin-bottom: 1rem;
}