@let item = $item();
@let searchActive = $searchActive();
@let expanded = $expanded();

@if(item && !searchActive) {
    @if(item.type === 'directory') {
        <details [open]="expanded" #fsDetails>
            <summary (click)="selectItem(item, expanded!)" class="ellipsis">{{ item.path | fsItemName }}</summary>
            @let items = $items();
            <ul>
                @for (dir of items.dirs; track $index) {
                    <li>
                        <app-tree [fsItem]="dir"></app-tree>
                    </li>
                }
                
                @for (doc of items.docs; track $index) {
                    <li (click)="selectItem(doc, true)" class="clickable">
                        <i class="doc"></i> {{ doc.path | fsItemName }}
                    </li>
                }
            </ul>
        </details>
    }
    @else {
        <div (click)="selectItem(item, true)" class="ellipsis clickable">
            <i class="doc"></i> {{ item.path | fsItemName }}
        </div>
    }
}