@let item = $item();
@if(item) {
    <details [open]="$open()" #fsDetails (toggle)="setSelected(item, $event)">
        <summary>{{ item.path | fsItemName }}</summary>
        <div class="children">
            @let items = $items();
            <ul>
                @for (dir of items.dirs; track $index) {
                    <li>
                        <app-tree [fsItem]="dir"></app-tree>
                    </li>
                }
            </ul>
            <ul>
                @for (doc of items.docs; track $index) {
                    <li>{{ doc.path | fsItemName }}</li>
                }
            </ul>
        </div>
    </details>
}